.contenido {
    display: flex;
    align-items: center; 
    justify-content: center;
}

.carrusel{
    width: 50%;
    left: 25%;
    position: relative;
    
    display: felx;
    /* justify-content: center; */
     
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content:space-around;
    
    
    
}