.calendario-container {
    position:absolute;
    top: 125px; /* Puedes ajustar este valor */
    right: 0;
    width: 350px;  /* Puedes ajustar este valor */
    height: 100vh; /* Toma toda la altura de la ventana */
    background-color: none;
    
    padding: 10px;
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
  }
  